body{
    background-color: #000000;
}

.contenedor {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
    
}
.contenedor > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.logo{
    grid-column: 1/4;
    grid-row: 1;
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.logo-size{
    height:auto;
    width: 150px;
}
/*******************************************************/
.contenedor-barra-superior {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(10%, 50px);
}
.contenedor-barra-superior > div {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.bararra-superior {
    grid-column: 1/4;
    grid-row: 1;
    background: #fbd269;
    box-sizing: border-box;
    box-shadow: 0 1px 14px rgba(253, 229, 6, 0.699);
    border-radius: 0px;
}
.contenedor-dos {
    overflow: hidden; 
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.contenedor-dos > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.botones{
    color: #000000;
    text-decoration: none;
}
.Menu{
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.Home{
    grid-column: 2;
    grid-row: 1;
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.Login{
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    grid-column: 3;
    grid-row: 1;
}
/*******************************************************/
.contenedor-tres {
    overflow: hidden; 
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 0px;
}
.fondo-1{
    grid-column: 1/4;
    grid-row: 3;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 5% 5% 0% 0%;
}
.thriller{
    grid-column: 1;
    grid-row: 1;
    color: aliceblue;
}
.romance{
    grid-column: 1;
    grid-row: 1;
    color: aliceblue;
}

/*Galeria 1*/
.galeria-1{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 45vmin;
    margin: 5px auto 0;
    overflow:hidden;
}
.galeria-1 ul{
    display: flex;
    padding: 0;
    width: 205%;
    animation: slide 10s infinite ease-in-out;
}
.galeria-1 li{
    text-align: center;
    list-style: none;
    width: 100%;
}
.galeria-1 img{
    border-radius: 8px;
    width: 40vmin;
}

/*Galeria 1 descripcion*/
.galeria-1-descripcion{
    grid-column: 7;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    height: 50vmin;
    width: 40vmin;
    margin: 5px auto 0;
    overflow:hidden;
}
.galeria-1-descripcion ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 10s infinite ease-in-out;
}
.galeria-1-descripcion li{
    text-align:center;
    font-size: 3.4vmin;
    color: aliceblue;
    list-style: none;
    width: 100%;
}
.galeria-1-descripcion img{
    border-radius: 8px;
    width: 60%;
}

/*Galeria 2*/
.fondo-2{
    grid-column: 1/4;
    grid-row: 4;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0px;
}
.galeria-2{
    grid-column: 1/11;
    grid-row: 1;
    height: auto;
    width: 100vmin;
    margin: 5px auto 0;
    overflow:scroll;
}
.galeria-2 ul{
    display:flex;
    padding: 0;
    width: 160%;
}
.galeria-2 li{
    list-style: none;
    width: 35vmin;
}
.galeria-2 img{
    border-radius: 8px;
    width: 80%;
}
.fondo-3{
    grid-column: 1/4;
    grid-row: 5;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0% 0% 5% 5%;
}

/*Don't touch**/
@keyframes slide {
    0% {margin-left: 0%;}
    50% {margin-left: 0%;}
    
    55% {margin-left: -100%;}
    95% {margin-left: -100%;}
}

.invisible-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(10%, 40px);
}
.invisible {
    grid-column: 1/4;
    grid-row: 1;

}


